$blue-color: #2264D1;
$light-blue-color: #9DC2FF;
$orange-color: #e79f19;
$red-color: #F44336;
$black-color: #000000;
$middle-black-color: #19191D;
$light-black-color: #333333;
$grey-color: #5E6366;
$middle-grey-color: #787885;
$light-grey-color: #f7f5f5;
$white-color: #ffffff;
$radio-bg-color: #EBF2FF;
$secondary-bg-color: #F7F7FA;