$main-font: 'Roboto', sans-serif;
$roboto-light-font: 'Roboto Light', sans-serif;
$roboto-bold-font: 'Roboto Bold', sans-serif;

$box-shadow: 0px 2px 4px rgb(27 78 163 / 20%), 0px 4px 8px rgb(41 121 255 / 20%);

$block-paddings: 10px;
$block-border-rad: 10px;