.card {
    max-width: 240px;
    max-height: 210px;
    width: 100%;
    height: 100%;
    box-shadow: $box-shadow;
    padding: 10px;
    background-image: url('https://i.dummyjson.com/data/products/1/thumbnail.jpg');
    background-position: center;
    background-size: cover;
    color: $white-color;
    border-radius: 10px;
    box-sizing: border-box;

    .card__title {
        text-align: center;
        padding-top: 10px;
        height: 25px;
        background-color: rgba($middle-black-color, $alpha: 0.8);
        border: 1px $white-color solid;
        border-radius: 5px;
        color: $light-blue-color;
        font-size: 1rem;
    }

    .card__description {
        width: max-content;
        background-color: rgba($middle-black-color, $alpha: 0.8);
        border-radius: 5px;
        padding: 5px;
        border: 1px $white-color solid;
        font-size: 0.8rem;

        .card__property {
            list-style: none;
            color: $light-blue-color;

            .card__value {
                color: $white-color;
            }
        }
    }

    .card__buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;

        .card__button {
            height: 100%;
            box-shadow: $box-shadow;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 5px;
            padding-right: 5px;
            background-color: rgba($light-blue-color, $alpha: 0.9);
            border-radius: 5px;
            font-size: 0.8rem;
            @extend %transition;

            &:hover {
                @extend %btn-hover;
            }
        }
    }
}