.filters {
    min-height: 600px;
    width: 20%;
    box-shadow: $box-shadow;
    background-color: $light-grey-color;
    @extend %blocksettings;
}

.filters-buttons {
    display: flex;
    justify-content: space-evenly;
}