.filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 600px;
    width: 20%;
    box-shadow: $box-shadow;
    background-color: $light-grey-color;
    @extend %blocksettings;

    .filters-buttons {
        display: flex;
        justify-content: space-evenly;
    }
}

.category, .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $blue-color;
    @extend %blocksettings;
    box-shadow: $box-shadow;
    background-color: $white-color;

    .category__title, .brand__title {
        font-family: $roboto-bold-font;
        font-size: 18px;
        color: $blue-color;
        margin: 0;
    }

    .category__block, .brand__block {
        max-height: 230px;
        width: 100%;
        align-self: flex-start;
        overflow: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background-color: $radio-bg-color;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $blue-color;
            border-radius: 5px;
            border: 1px solid$radio-bg-color;

            &:hover {
                background-color: $middle-black-color;
            }
        }
    }

    .filter-block {
        padding: 0;
    }

    .filter-block__item {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-bottom: 5px;
        user-select: none;
    }
    
    .filter-block__label {
        cursor: pointer;

        &:hover {
            color: $orange-color;
            @extend %transition;

            .filter-block__text::before {
                border-color: $orange-color;
            }
        }
    }

    .filter-block__input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + .filter-block__text::before {
            background-color: $blue-color;
        }
    }
    
    .filter-block__text {
        display: inline-flex;
        align-items: center;

        &::before {
            content: '✓';
            color: $white-color;
            font-weight: 700;
            display: inline-block;
            width: 1em;
            height: 1em;
            border: 1px solid $light-black-color;
            border-radius: 0.25em;
            margin-right: 10px;
            @extend %transition;
        }
    }

    .filter-block__value {
        margin-left: auto;
        padding-right: 10px;
    }
}