.products {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    width: 75%;
    box-sizing: border-box;

    .product-items {
        width: 100%;
        box-shadow: $box-shadow;
        @extend %blocksettings;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        justify-items: center;
        gap: 10px;

        .product-none-info {
            font-size: 2rem;
            text-align: center;
            font-family: $roboto-light-font;
        }
    }

    .product-items_list {
        display: flex;
        flex-direction: column;
    }
}