.products {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    width: 75%;
    box-shadow: $box-shadow;
    @extend %blocksettings;

    .sort {
        width: 100%;
        height: 100px;
        box-shadow: $box-shadow;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .productItems {
        width: 100%;
        box-shadow: $box-shadow;
        @extend %blocksettings;
        box-sizing: border-box;
    }
}